.header {
    position: sticky;
    top: 0;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #DD4124;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}


body {
    background-image: url(image/bgimage2.jpg);
    
}

#main{
    
    margin: auto;
}


    .header .logo {
        position: relative;
        font-size: 36px;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
    }

        .header .logo:hover {
            color: #ffeb3b;
        }

    .header .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }

        .header .navigation li {
            list-style: none;
            margin: 0 10px;
        }

            .header .navigation li a {
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                font-size: 25px;
                letter-spacing: 1px;
            }

                .header .navigation li a:hover {
                    color: #ffeb3b;
                }

    .header .buttons {
        position: relative;
        width: 205px;
        height: 40px;
        left: 111px;
        color: #fff;
    }

        .header .buttons a .fa {
            color: #fff;
            padding-right: 5px;
        }

            .header .buttons a .fa:hover {
                color: #ffeb3b;
            }



            iframe{ 
                width:100%;
                height:450px;
            }
            
            input#name, input#mail, input#telefon{
                width: 200px;
            }
            
            form{
                left:500px ;
                border-style: solid;
                width: 50%;
                float: left;
                font-size: 25px;
                padding: 7px;
                background-color: rgb(209, 209, 209);
                border-radius: 10px;
            }




            .main1{
                width: 60%;
                height: 100%;
                margin: auto;
                padding-bottom: 500px;
            }


















.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
    width: 100vw;
    color: #fff;
    background-color: #DD4124;
}

.footer-bottom {
    background: #DD4124;
    width: 100vw;
    text-align: center;
}

    .footer-bottom p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }














@media (max-width: 1100px) {
    .header {
        padding: 10px 20px;
        flex-direction: column;
    }

        .header .logo {
            font-size: 26px;
        }

        .header .buttons a .fa {
            width: 15%;
            position: relative;
            right: 55px;
        }
}

@media (max-width: 600px) {
    .header .buttons a .fa {
        position: relative;
        right: 55px;
        width: 15%;
        bottom: 4px;
    }

    .header .navigation li a {
        font-size: 17px;
    }

    .container-prod {
        grid-template-columns: repeat(auto-fill,minmax(200px,215px));
    }
}

@media (max-width: 460px) {
    .header .buttons a .fa {
        position: relative;
        right: 45px;
        width: 14%;
        bottom: 1px;
    }

    .header .navigation li a {
        font-size: 14px;
    }
}