* {
    margin: 0;
    padding: 0;
    font-family: 'Yusei Magic', sans-serif;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
}


body {
    background-image: url(image/bgimage2.jpg);
    
}

.header {
    position: sticky;
    top: 0;
    
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #DD4124;
    overflow: hidden;

}

.header .logo {
    position: relative;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.header .logo:hover {
    color: #ffeb3b;
}

.header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.header .navigation li {
    list-style: none;
    margin: 0 10px;
}

.header .navigation li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}

.header .navigation li a:hover {
    color: #ffeb3b;
}

.header .buttons {
    position: relative;
    width: 205px;
    height: 40px;
    left: 111px;
    color: #fff;
}

.header .buttons a .fa {
    color: #fff;
    padding-right: 5px;
}

.header .buttons a .fa:hover {
    color: #ffeb3b;
}

.welcome {

    text-align: center;
    padding: 1em 1em;
}

.welcome p {
    font-size: 21px;
    font-weight: bold;
}



   .galleryitem {
    width: 200px;
    height: auto;
    transition: width 0.5s;
}

    .galleryitem:hover {
        width: 220px;
    }

    .galleryitem img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        transition: width 0.5s;
    }

    .galleryitem img:hover {
            width: 220px;
        }

     .desc {
    text-align: center;
    padding: 15px
    }


    .main1{
        padding-top: 20px;
        width: 60%;
        height: 100%;
        margin: auto;
        padding-bottom: 500px;
    }

.foto-alan{
    width: 25%;
    float: left;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}
.foto-alan img{
    width: 100%;
    border: 1px solid #222831;
    
}

.foto-alan:hover{
    transform: scale(1.1);
}
.foto-alan h3{
    text-align: center;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
    width: 100vw;
    color: #fff;
    background-color: #DD4124;
}

.footer-bottom {
    background: #DD4124;
    width: 100vw;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

























@media (max-width: 1100px) {
    .header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .header .logo {
        font-size: 26px;
    }

    .header .buttons a .fa {
        width: 15%;
        position: relative;
        right: 55px;
    }
   
    .foto-alan{
        width: 33%;
    }
}

@media (max-width: 600px) {
    .header .buttons a .fa {
        position: relative;
        right: 55px;
        width: 15%;
        bottom: 4px;
    }
    
    .header .navigation li a {
        font-size: 17px;
    }

    .foto-alan{
        width: 50%;
    }
}

@media (max-width: 460px) {
    .header .buttons a .fa {
        position: relative;
        right: 45px;
        width: 14%;
        bottom: 1px;
    }

   .header .navigation li a {
        font-size: 14px;
    }
    
}
